<div class="callout">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready To Get Started?</h2>
      <p class="callou__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        quis facilis nesciunt ipsam mollitia reiciendis non! Quam facere,
        tempora aliquid alias, officia sunt veniam cumque placeat, esse sapiente
        neque nesciunt?
      </p>
    </div>
    <a class="button button--secondary button--stretched" href="#"
      >Get Started</a
    >
  </div>
</div>
