<div class="collapsible collapsible--checked">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Learn More</h2>
    <svg class="icon collapsible__icon">
      <use xlink:href="../images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente neque
    ratione nulla earum dolore asperiores rem temporibus, nostrum quidem
    assumenda vel? Reprehenderit blanditiis iusto dolor porro consequatur
    assumenda nesciunt. Asperiores!
  </div>
</div>
<script src="js/main.js"></script>
