<section class="features-block container">
  <div class="block block--white">
    <header class="block__header">
      <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
      <p class="block__content">
        Lorem ipsum dolor sit amet. Lorem, ipsum dolor.
      </p>
    </header>
  </div>

  <article class="feature grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p class="feature__description">
        Lorem ipsum dolor sit amet. Lorem, ipsum dolor.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <img class="feature__image" src="images/wordpress.jpg" alt="" />
  </article>

  <article class="feature grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p class="feature__description">
        Lorem ipsum dolor sit amet. Lorem, ipsum dolor.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <img class="feature__image" src="images/fast.jpg" alt="" />
  </article>

  <article class="feature grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="../images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p class="feature__description">
        Lorem ipsum dolor sit amet. Lorem, ipsum dolor.
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <img class="feature__image" src="images/wordpress.jpg" alt="" />
  </article>
</section>
