<footer class="website-footer">
  <div class="container grid footer__sections">
    <div class="footer__item">
      <div class="footer__content">
        <div class="collapsible collapsible--checked">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">LEARN MORE</h2>
            <svg class="icon collapsible__icon">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="footer__links">
              <li><a href="#" class="footer__link">About us</a></li>
              <li><a href="#" class="footer__link">Random</a></li>
              <li><a href="#" class="footer__link">Select</a></li>
              <li><a href="#" class="footer__link">Version</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__item">
      <div class="footer__content">
        <div class="collapsible collapsible--checked">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Products</h2>
            <svg class="icon collapsible__icon">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="footer__links">
              <li><a href="#" class="footer__link">About us</a></li>
              <li><a href="#" class="footer__link">Random</a></li>
              <li><a href="#" class="footer__link">Select</a></li>
              <li><a href="#" class="footer__link">Version</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__item">
      <div class="footer__content">
        <div class="collapsible collapsible--checked">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">About us</h2>
            <svg class="icon collapsible__icon">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="footer__links">
              <li><a href="#" class="footer__link">About us</a></li>
              <li><a href="#" class="footer__link">Random</a></li>
              <li><a href="#" class="footer__link">Select</a></li>
              <li><a href="#" class="footer__link">Version</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__item">
      <div class="footer__content">
        <div class="collapsible collapsible--checked">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">About us</h2>
            <svg class="icon collapsible__icon">
              <use xlink:href="../images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="footer__links">
              <li><a href="#" class="footer__link">About us</a></li>
              <li><a href="#" class="footer__link">Random</a></li>
              <li><a href="#" class="footer__link">Select</a></li>
              <li><a href="#" class="footer__link">Version</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__brand">
      <img src="images/logo.png" alt="" />
      <p>Copyright 2020 Anas Chahid</p>
    </div>
  </div>
</footer>

<script src="js/main.js"></script>
