<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolorum minima
    quos id rerum velit ipsa ullam, optio sunt voluptatibus, placeat, tempora
    cumque voluptatum! Expedita vitae voluptate tempora quas neque!
  </p>
  <footer class="quote__footer">
    <div class="media">
      <div class="media__icon">
        <svg class="icon quote__line">
          <use xlink:href="../images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Anas Chahid</h3>
        <p class="media__text quote__company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
