<section class="showcase">
  <div class="block block--dark block--skewed-right">
    <header class="block__header">
      <h2 class="block__heading">User-friendly Control Panel</h2>
      <div class="block__content grid grid--1x2">
        <img class="showcase__image" src="images/ipad.png" alt="" />
        <div class="showcase-description">
          <div class="media">
            <div class="media__icon">
              <svg class="icon">
                <use xlink:href="../images/sprite.svg#computer"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <p class="media__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officia consectetur sequi voluptas fuga ducimus reiciendis velit
                molestiae, error facilis ipsum an
              </p>
            </div>
          </div>
          <div class="media">
            <div class="media__icon">
              <svg class="icon">
                <use xlink:href="../images/sprite.svg#clock"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Staging, GIT & WP-CLI</h3>
              <p class="media__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officia consectetur sequi voluptas fuga ducimus reiciendis velit
                moles
              </p>
            </div>
          </div>
          <div class="media">
            <div class="media__icon">
              <svg class="icon">
                <use xlink:href="../images/sprite.svg#easy"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Dynamic Caching & More</h3>
              <p class="media__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Officia consectetur sequi voluptas fuga ducimus reiciendis velit
                molestiae, error facilis ipsum animi
              </p>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</section>
