<section class="testimonial-block">
  <header class="block block__header">
    <h2 class="block__heading">What our Customers are Saying</h2>
    <p class="block__content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ipsam.
    </p>
  </header>
  <div class="card testimonial container">
    <div class="grid grid--1x2">
      <div class="testimonial__image-container">
        <span class="icon-container">
          <svg class="icon">
            <use xlink:href="../images/sprite.svg#quotes"></use>
          </svg>
        </span>
        <img
          class="testimonial__image"
          src="images/testimonial.jpg"
          alt="Happy customer"
        />
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolorum
          minima quos id rerum velit ipsa ullam, optio sunt voluptatibus,
          placeat, tempora cumque voluptatum! Expedita vitae voluptate tempora
          quas neque!
        </p>
        <footer class="quote__footer">
          <div class="media">
            <div class="media__icon">
              <svg class="icon quote__line">
                <use xlink:href="../images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Anas Chahid</h3>
              <p class="media__text quote__company">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
